
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'contact.scss';
@import 'products.scss';
@import 'menu.scss';
@import 'about_partners.scss';
@import 'certificate_exhibition.scss';
 
body, html{
    overflow-x: hidden;
}
.container{
    margin: 0 auto !important;
}

.marketing{
    padding: 30px 0 80px;
}

main{
    min-height: 100vh;
    margin-bottom: -55px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h4 {
    font-size: 20px !important;
}

@media (max-width: 767px)
{
    main{
        padding-top: 0 !important;
    }
}

@media (max-width: 640px)
{
    .img{
        height: auto !important;
        width: 80vw !important;  
        margin: 10px auto !important;
        display: block;
    }
    
    .circle{
        display: block;
        margin: 10px auto !important;
    }
    
    .slide .carousel-caption{
        h1{
            font-size: 1.7rem;
        }
        p{
            font-size: 0.9rem;
        }
    }
}