// Variables
@import 'variables';

.certificates, .exhibitions {
    max-width: 800px !important;
    padding: 20px 0 80px;
}

.certificateHeader, .exhibitionHeader{
    margin-bottom: 25px;
    text-align: center;
}

.myCarousel{
    max-width: 800px;
    margin: 0 auto;
}

.certificate-wrap{
    max-width: 800px;
    margin: 0 auto;
}

.certificate-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    &:hover{
        opacity: 0.6;
        cursor: pointer;
    }
}


.certificateFull-1, .certificateFull-2{
    margin: 0 auto;
    display: none;
    width: 80vw;
    max-width: 600px;
    max-height: 750px;
    height: 120vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 10px;
    top: 100px;
    left: 0;
    position: relative;
    display:none; /* Hides the modal window by default */
    z-index:9999;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}


.myClose {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: block;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: arial;
    font-size: 1.5rem;
    z-index: 100000;
}

.myClose:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.shim > * {
    -webkit-transform: translateZ(0px);
}

.shim {
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    background: rgba(0,0,0,0.5);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
    zoom: 1;
}


.exhibition-slider {   
    width: 66%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}

.exhibitionDescription{
    margin-top: 25px;
    text-indent: 25px;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
}


@media  (max-width: 940px)
{
    .myClose {
    font-size: 1rem;
    
}
}


@media  (max-width: 600px)
{
    .myClose {
    right: 0;
    
}
}