// Variables
@import 'variables';

.products {
    max-width: 1200px !important;
    padding: 20px 0;
    text-align: center;
}

.animalsHeader{
    margin-bottom: 25px;
}

@for $i from 1 through 3 {
  .animal-slider-#{$i} {
        background-image: url("/site_img/animal#{$i}.jpg");
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      border-radius: 10px;
    }
}

.animalDescription{
    margin-top: 25px;
    text-align: left;
}

@media  (max-width: 940px)
{
   .products {
        padding: 50px 0 20px;
        text-align: center;
    } 
}

@media (max-width: 304px)
{
    .products {
        padding: 120px 0 20px;
    } 
}

@media (max-width: 332px)
{
    .products {
        padding: 180px 0 20px;
    } 
    
}