// Variables
@import 'variables';

.products {
    max-width: 1200px !important;
    padding: 20px 0 80px;
    text-align: center;
}

.productsHeader{
    margin-bottom: 25px;
}

.myCarousel{
    max-width: 800px;
    margin: 0 auto;
}

.productsSlider {
        width: 66%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 10px;
 }

@for $i from 1 through 3 {
  .animal-slider-#{$i} {
        background-image: url("/site_img/animal#{$i}.jpg");
        width: 66%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      border-radius: 10px;
    }
}

@for $i from 1 through 3 {
  .fertilizer-slider-#{$i} {
        background-image: url("/site_img/fertilizer#{$i}.jpg");
        width: 66%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      border-radius: 10px;
    }
}

@for $i from 1 through 3 {
  .equipment-slider-#{$i} {
        background-image: url("/site_img/equipment#{$i}.jpg");
        width: 66%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      border-radius: 10px;
    }
}

.productsDescription{
    margin: 0;
    text-align: left;
    text-indent: 25px;
}

.productsDescription:first-of-type{
     margin-top: 45px;
}

@media  (max-width: 940px)
{
   .products {
        text-align: center;
    } 
}

