// Variables
@import 'variables';

.products {
    max-width: 1200px !important;
    padding: 20px 0 80px;
    text-align: center;
}

.productsHeader{
    margin-bottom: 25px;
}

.myCarousel{
    max-width: 800px;
    margin: 0 auto;
}

.productsSlider {
        width: 66%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 10px;
        margin: 0 auto;
 }


.productsDescription{
    margin: 0;
    text-indent: 25px;
}

.productsHeaderInDescription{
    text-align: left;
    margin: 15px 0;
    font-size: 1.5rem;
}

.productsUlInDescription li, 
.productsDescription{
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
}

.productsDescription:first-of-type{
     margin-top: 45px;
}

@media  (max-width: 940px)
{
   .products {
        text-align: center;
    } 
}

